{% extends "main.html" %}
{% load static %}

{% block extend_header %}

{% endblock %}



{% block content %}
  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Profile</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">
        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items">
            {% if user.profile.profile_image %}
              <img src="{{ user.profile.profile_image.url }}" alt="Profile" class="col-md-8 col-lg-9">
            {% else %}
              <img src="{% static 'path/to/default/profile_placeholder.png' %}" alt="Profile" class="rounded-circle">
            {% endif %}
            <h2>{{ user.profile.full_name }}</h2>
            <h3>{{ user.channel.name }}</h3>
          </div>
        </div>
      </div>

      <div class="col-xl-8">
        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
              </li>
            </ul>

            <div class="tab-content pt-2">
              <div class="tab-pane fade show active profile-overview" id="profile-overview">
              
                <h5 class="card-title">Profile Details</h5>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Full Name</div>
                  <div class="col-lg-9 col-md-8">{{ user.profile.full_name }}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Company</div>
                  <div class="col-lg-9 col-md-8">{{ user.profile.company }}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{ user.profile.email }}</div>
                </div>
              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                <!-- Profile Edit Form -->
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row mb-3">
                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                    <div class="col-md-8 col-lg-9">
                      {% if user.profile.profile_image %}
                        <img src="{{ user.profile.profile_image.url }}" alt="Profile">
                      {% else %}
                        <img src="{% static 'path/to/default/profile_placeholder.png' %}" alt="Profile">
                      {% endif %}
                      <div class="pt-2">
                        <input type="file" name="profile_image" class="form-control" id="profileImage">
                      </div>
                    </div>
                  </div>
                
                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="full_name" type="text" class="form-control" id="fullName" value="{{ user.profile.full_name }}" required>
                    </div>
                  </div>
                
                  <div class="row mb-3">
                    <label for="phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="phone" type="text" class="form-control" id="phone" value="{{ user.profile.phone }}" required>
                    </div>
                  </div>
                
                  <div class="row mb-3">
                    <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="email" type="email" class="form-control" id="email" value"{{ user.profile.email }}" required>
                    </div>
                  </div>
                
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary-custom">Save Changes</button>
                  </div>
                </form><!-- End Profile Edit Form -->
              </div>                

              <div class="tab-pane fade pt-3" id="profile-settings">
                <!-- Settings Form -->
                <form method="POST">
                  {% csrf_token %}
                  <div class="row mb-3">
                    <label for="email_notifications" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                    <div class="col-md-8 col-lg-9">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="changesMade" name="email_notifications" value="changes_made" checked>
                        <label class="form-check-label" for="changesMade">Changes made to your account</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="newProducts" name="email_notifications" value="new_products" checked>
                        <label class="form-check-label" for="newProducts">Information on new products and services</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="proOffers" name="email_notifications" value="pro_offers">
                        <label class="form-check-label" for="proOffers">Marketing and promo offers</label>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="password" class="col-md-4 col-lg-3 col-form-label">Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="password" type="password" class="form-control" id="password" value="*********">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="confirmPassword" class="col-md-4 col-lg-3 col-form-label">Confirm Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="confirm_password" type="password" class="form-control" id="confirmPassword" value="*********">
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary-custom">Save Changes</button>
                  </div>
                </form><!-- End Settings Form -->
              </div>

              <div class="tab-pane fade pt-3" id="profile-change-password">
                <!-- Change Password Form -->
                <form method="POST">
                  {% csrf_token %}
                  <div class="row mb-3">
                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="current_password" type="password" class="form-control" id="currentPassword">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="new_password" type="password" class="form-control" id="newPassword">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="confirmPassword" class="col-md-4 col-lg-3 col-form-label">Confirm New Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="confirm_password" type="password" class="form-control" id="confirmPassword">
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary-custom">Change Password</button>
                  </div>
                </form><!-- End Change Password Form -->
              </div>
            </div><!-- End Bordered Tabs -->
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
{% endblock %}

{%block extend_footer%}

{%endblock%}
